* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #ffd2d2, 60%, #0abfbc);
}

.App {
    text-align: center;
    /* background: linear-gradient(315deg, #de6262, #ffb88c); */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10%;
}

nav a {
    margin: 10px;
    background-color: #1e3799;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    padding-top: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav a:hover {
    background-color: #0c2461;
}

.search-movie {
    margin: 15px auto;
    width: 30%;
    min-width: 270px;
    padding: 10px 20px;
    display: flex;
    background: rgb(255, 255, 255);
    border: solid 2px black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    gap: 5%;
    font-size: 20px;
}

.search-movie input {
    width: 83%;
    height: 35px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: inherit;
}

.search-movie input:focus {
    border-bottom: solid 1px rgb(116, 114, 114);
}

.search-movie button {
    width: auto;
    height: 35px;
    font-size: 25px;
    margin: auto;
    background: transparent;
    border: none;
}

.App-link {
    color: #61dafb;
}

a {
    text-decoration: none;
}

.results {
    width: 90%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.item-box {
    width: 20%;
    min-width: 250px;
    height: 400px;
    padding: 15px;
    /* background: linear-gradient(45deg, #556270, #ff6b6b); */
    background: linear-gradient(135deg, #4b6cb7, #182848);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item-box img {
    height: 320px;
}

.item-box p {
    color: white;
    height: 30px;
}

.item-box a {
    padding: 3px 9px;
    padding-bottom: 6px;
    line-height: 25px;
    border-radius: 10px;
    color: #1e1e1e;
    font-weight: 600;
    background-color: #05c46b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item-box a:hover {
    background-color: #0be881;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    background: linear-gradient(0deg, #ed4264, #ffedbc);
    width: 50%;
    margin: 5px auto;
    font-size: 30px;
    border: dashed 2px black;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 35px;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.dContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.poster {
    padding: 1%;
    background-color: rgb(151, 151, 151);
}

.details {
    width: 35%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
    margin: 3%;
}

.details p {
    text-align: justify;
}

.details p span {
    font-weight: bolder;
}

.rating-items {
    display: flex;
    justify-content: center;
    border: black dotted 2px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.rating-items h3 {
    line-height: 30px;
    margin: 4px 5px 6px 5px;
}

.rating-items div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 10px;
}

.rating-items div p {
    line-height: 30px;
}

.rating-items div img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    .search-movie {
        font-size: 17px;
    }
}
