.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10%;
}

nav a {
    margin-top: -13px;
    margin-bottom: 5px;
    background-color: #1e3799;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    padding-top: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav a:hover {
    background-color: #0c2461;
}

.search-movie {
    margin: 13px;
}

.App-link {
    color: #61dafb;
}

.item-box {
    width: 20%;
    min-width: 250px;
    padding: 15px;
    background-color: rgb(163, 61, 61);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
